/* homepage css */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    font-family: "Inria Serif", serif;
    background-color: #222f3d;
    /* background-color: grey; */
}

/*  ta,a:hover{
   ext-decoration: none;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: yellowgreen;
    
}
.top span{
    color: antiquewhite;

}
.top ul{
    list-style: none;
    display: flex;
}
.top li{
    margin: 0px 5px;
}
.top a{
    color: black;
}
.top a:hover{
    color: whitesmoke;
} */

nav {
    background: white;
    padding: 5px 20px;
    display: flex;
    height: 70px;
}

nav a {
    color: black;
    text-decoration: none;
   

    /* font-size: 23px;
    font-weight: 900; */


}

nav a:hover {
    color: brown;
}

.logo {
    flex: 1;

}

.logo img {
    width: 60px;
    height: 70px;
    border-radius: 40px;
    margin-right: 10px;
    margin-top: -5px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    list-style: none;
    padding: 15px 10px;
}
.menu li a {
    font-size: 24px;
    font-weight: 900;
}

.toggle {
    font-size: 30px;
    display: none;
}

@media screen and (max-width:600px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu {
        margin-top: 15px;
        display: none;

    }

    .menu-active,
    .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }
}

.image {
    display: flex;
    gap: 60px;
    margin-left: 70px;
    margin-top: 40px;
}



.container {
    position: relative;
    width: 50%;
}

.img1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 2px solid yellowgreen;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .img1 {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text1 {
    color: black;
    font-weight: 700;
    font-size: 26px;
    padding: 16px 32px;
    margin-right: 80px;

}

.container2 {
    position: relative;
    width: 50%;
}

.img2 {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 15px ;
    border: 2px solid yellowgreen;
}


.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.8;
    overflow: hidden;
    width: 390px;
    height: 0;
    transition: .5s ease;
}

.container2:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text2 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

 /* .flower2{
    position: relative;
    width: 50%;
    margin-left: -260px;

}
.im2{
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    width: 100%;
    height: auto;
    width: 290px;
    height: 250px;
    margin-top: -10px;
    margin-left: 350px;
    margin-left: 298px;
}
.overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c219a0;
    overflow: hidden;
    width: 290px;
    width: 100%;
    height: 0;
    margin-left: 350px;
    transition: 1s ease;
  }
  
  .flower2:hover .overlay2 {
    height: 100%;
    
  }
  
  .texttt2 {
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 20px;
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    width: 290px;
    height: 250px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }  */

/* footer */
footer {
    margin-top: 350px;
}

.foot-panel1 {
    background-color: white;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: whitesmoke;
    color: black;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: bla;
}

.foot-panel3 {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo1 img {
    
    background-size: cover;
    border-radius: 60%;
    height: 50px;
    width: 100px;

}

.foot-panel4 {
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages {
    padding-top: 25px;

}

.copy-right {
    padding-top: 3px;
}
.button{
    padding: 7px;
    height: 60px;
    width: 200px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 460px;
    /* border-radius: 20px; */
}
button:hover{
    color: white;

}

/* ================================PRODUCT PAGE CSS==================================== */

.product{
    display: flex;
    gap: 30px;
}
.p1img{
    height: 300px;  
    width: 290px;
}
.card {
    box-shadow: 0 4px 8px 0 white;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: yellow;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  /* .hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: red;
  } */

/* =====================================ABOUT PAGE CSS================================== */


.about{
    width: 500px;
    height: 400px;
    margin-left: 60px;
    background-size: cover;

}
.aboutimg{
    width: 800px;
    height: 400px;
    margin-left: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.aboutemail input[type=text]{
    width: 400px;
    border-radius: 20px;
    margin-left: 290px;
}
.aboutbtn{
    width: 150px;
    background-color: black;
    color: white;
    margin-top: 5px;
    margin-left: 420px;
    border: 2px solid white;
}
/* =============================LOGIN PAGE CSS========================================= */

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border: 2px solid black;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    background-color: grey;
    /* opacity: 0.9; */
  }
  
  /* button:hover {
    opacity:1;
  } */
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: grey;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
    background-color: grey;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }