
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    font-family: "Inria Serif", serif;
    background: wheat;
   
   
    
}
/*  ta,a:hover{
   ext-decoration: none;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: yellowgreen;
    
}
.top span{
    color: antiquewhite;

}
.top ul{
    list-style: none;
    display: flex;
}
.top li{
    margin: 0px 5px;
}
.top a{
    color: black;
}
.top a:hover{
    color: whitesmoke;
} */

nav{
    background: palevioletred;
    padding: 5px 20px;
    display: flex;
    align-items: center;
   
   
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: whitesmoke;
}
.logo{
    flex: 1;
   
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.logo a:hover{
    color: whitesmoke;

}
.logo img{
    width: 40px;
    height: 30px;
    /* border: 3px solid black; */
    margin-right: 10px;
}
.im img{
    height: 200px;
    width: 350px;
    margin-top: 15px;
    border: 2px  solid black;
    border-radius: 30px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    color: aqua;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
}
.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width:600px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .menu{
        margin-top: 15px;
        display: none;

    }
    .menu-active, .toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
}
