{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<h1 style="color: white; text-align: center; margin: 10px;">About Us</h1>
<hr>
<br>
<br>
<div style="display: flex; gap: 40px;">
    <div class="box">
        <img class="about" src="{% static 'images/img36.jpeg' %}">
    </div>
    <div style="color: white;">
        <h1>Our Story</h1>
        <p>AT DREAM DECOR,WE BELEIVE IN THE TRANSFORMATION POWER OF THOUGHTFUL DECISION.
            FROM TIMELESS CLASSICS TO MODERN CHIC,OUR HANDPICKED
            TREASURES TRANSFORM HOUSES INTO PERSONALISED HEAVENS.......
            <br>
            <br>
        <h2>Our vision is </h2>
        DISCOVER THE PERFECT PIECES OF LIGHTS TO DECOR YOUR DREAM
        HOUSE THAT SPEPAK TO YOUR UNIQUE VISION.<br>
        WELCOME TO THE DREAM DECOR WHERE EVERY DETAIL MATTERS
        AND YOUR DREAM SPACE BEGINS.<br>
        <br>
        <h2>We beleive in </h2>
        COMBINING SIMPLICITY WITH MODERN ATTIRE TO SHOW THE BEAUTINESS
        OF DECOARATIVE LIGHTS THAT MADE OUR HOUSES A PLACE OF COMFORT
        </p>
    </div>
</div>
<br>
<br>
<h3 style="color: wheat; text-align: center;">SUBUSCRIBE TO OUR NEWSLETTER TO BE THE FIRST TO REACEIVE EXCLUSIVE OFFERS.<br>
DISCOVER WHATS TRENDING AND DECORATE YOUR DREAM SPACE WITH US .</h3>
<br>
<br>
<div>
    <img  class="aboutimg" src="{% static 'images/img35.jpeg' %}">
    
</div>











{% endblock%}