{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<h1 style="color: white; text-align: center; margin: 10px;">About Us</h1>
<hr>
<br>
<div class="box">
    <img class="imagee"
        src="https://img.freepik.com/premium-photo/different-types-vases-with-flowers-table_555017-1847.jpg">
</div>
<div>
    <h1 class="headd">Stay in the Loop for Exclusive Offers</h1>
</div>

<h3 class="headd2">Subscribe to our newsletter to be the first to receive exlcusive offers.<br>
    Discuss whats trending and discover your dream space with us.</h3>

<input class="email" type="text" placeholder="Enter your email...">
<button class="btnn4">Subscribe</button>
</div>


{% endblock%}