{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<br>
<h1 style="color: white; text-align: center;">See more new dropouts</h1>
<br>
<div class="product">
    <div class="card">
        <img class="p1img" src="{% static 'images/img17.jpeg' %}" alt="wall light">
        <h1 style="color:white;">Decorative light</h1>
        <p class="price">$19.99</p>
        <p style="color: white;">Multicolor decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img17.jpeg' %}" alt="wall light">
        <h1 style="color:white;">Decorative light</h1>
        <p class="price">$19.99</p>
        <p style="color: white;">Multicolor decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>
    
    <div class="card">
        <img class="p1img" src="{% static 'images/img17.jpeg' %}" alt="wall light">
        <h1 style="color:white;">Decorative light</h1>
        <p class="price">$19.99</p>
        <p style="color: white;">Multicolor decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>

{% endblock%}