{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<br>
<h1 style="color: white; text-align: center;">See new Dropouts</h1>
<br>





<div class="product">
    <div class="card">
        <img class="p1img" src="{% static 'images/img22.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Wall Lamp </h2>
        <p class="price">price=$39</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img23.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Ceiling light</h2>
        <p class="price">price=$60</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img24.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Decorative light</h2>
        <p class="price">price=$50</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>
<br>
<br>
<div class="product">
    <div class="card">
        <img class="p1img" src="{% static 'images/img25.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Modern globe light</h2>
        <p class="price">price=$79</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img26.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Lamps with spotlight</h2>
        <p class="price">price=$47</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img27.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Clock design swivel</h2>
        <p class="price">price=$89</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>
<br>
<br>
<div class="product">
    <div class="card">
        <img class="p1img" src="{% static 'images/img28.jpeg' %}" alt="wall light">
        <h2 style="color:white;"> box shade light </h2>
        <p class="price">price=$53</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img29.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Ceiling round light</h2>
        <p class="price">price=$24</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img31.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Office light</h2>
        <p class="price">price=$78</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>
<br>
<br>
<div class="product">
    <div class="card">
        <img class="p1img" src="{% static 'images/img30.jpeg' %}" alt="wall light">
        <h2 style="color:white;"> Dinning light </h2>
        <p class="price">price=$53</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img32.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Ceiling round shape </h2>
        <p class="price">price=$24</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img class="p1img" src="{% static 'images/img33.jpeg' %}" alt="wall light">
        <h2 style="color:white;">Circle under circle</h2>
        <p class="price">price=$78</p>
        <p style="color: white;">Wall decor type...</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>

<!-- <h2>Display an Element on Hover</h2>
<div class="myDIV">
    <img style="height: 300px; width: 290px;" src="{% static 'images/img27.jpeg' %}">
</div>
<div class="hide">I am shown when someone hovers over the div above.</div> -->


{% endblock%}